body {
	background-color: whitesmoke;
	font-family: IBM Plex mono, monospace;
	font-size: 9pt;
}
#ok:hover {
	background-image: url(img/ok.gif);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

#blob:hover {
	background-image: url(img/blob.png);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

#fine:hover {
	background-image: url(img/fine-01.png);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

div {
	width: 9vw;
	height: 18vw;
	position: relative;
	float: left;
	margin: 3vw;
	border: 1px solid black;
}

container {
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}


p {
	margin: 10px;
}

.author {
	right:0px;
	top:0px;
	position: fixed;
}

